@import '_variables.scss';

/******************************************************************************
 * POST STYLES
 */
article {
    margin-bottom: $spacing_y;

    // Basic styles for code formattig
    code,
    pre.wp-block-preformatted
    {
        padding: .2em .4em;
        background-color: rgba(127,127,127,.5);
        border-radius: 3px;
    }

    .post-title {

    }

    .post-meta {
        div {
            display: inline-block;
            margin-top: $spacing/2;
            margin-right: $spacing;
        }
    }

    .post-categories {
        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                margin-right: $spacing_x/2;
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .post-tags {
        a {
            display: inline-block;
            margin-right: $spacing_x/2;
            text-decoration: none;
        }
    }

}
