@import "_variables";

html, body{
    color: var(--theme-color-page-foreground);
    background: var(--theme-color-page-background);
}
.editor-post-title__input {
    color: var(--theme-color-page-foreground) !important;
    textarea {
        color: var(--theme-color-page-foreground) !important;
    }
}


// Content margin system
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: $spacing;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

// TODO: Add font sizes to gutenberg options
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 15px;
}
hr {
    background: currentColor;
    height: 1px;
    border: none;
}
