@font-face {
    font-family: "DINOT-Regular";
    font-display: swap;
    src: url("dinot-regular.eot"); /* IE9*/
    src: url("dinot-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("dinot-regular.woff2") format("woff2"), /* chrome firefox */
         url("dinot-regular.woff") format("woff"), /* chrome firefox */
         url("dinot-regular.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("dinot-regular.svg#DINOT-Regular") format("svg"); /* iOS 4.1- */
}
